.box{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 0 10px;
    position: inherit;
    left: -100px;
    transition: all ease 0.3s;
    width: 150px;
    height: 40px;
 }
 
 .box:hover {
     left: 0px;
 }

 .pos1{
   top: calc(50% - 40px);
}

.pos2{
    top: calc(50% - 80px);  
 }