* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --darkBG: #ffffff;
  --darkBG2: rgb(91, 181, 91);
  --darkBG3: #e8e8e0;
  --darkText: rgb(0, 0, 0);
  --cardBG: rgb(91, 181, 91);
  --maxWidth: 940px;
  --text-highlight: salmon;
  --primary-bg: #47476b;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}
